h4, h5 {
    font-weight: normal;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#select {
    justify-content: flex-start;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#main-charts {
    flex: 2;
}

#ratings {
    flex: 1;
}

/* #main-charts .dc-chart {
    flex: 1 0 400px;
}

#main-charts .dc-chart:before, #main-charts .dc-chart:after {
    display: flex;
    flex-wrap: wrap;
} */

#year-bar-chart .x text {
    font-size: 8px;
}

.num-display {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin-top: 15px;
}

.num-display .number-display {
    font-size: 20px;
    font-weight: bold;
    color: green;
}
