body {
    padding-top: 50px;
    padding-bottom: 30px;
}

body, button { /* need to override default browser button styling */
    background-color: #22344b;
    color: #fff;
    font-family: 'Overpass', sans-serif;
}

.intro_button {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

nav {
    background-color: #91261e;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 2px;
    border: 1px outset black;
    font-family: 'Bree Serif', serif;
}

#nav-title, #nav-list {
    display: inline-block;
}

#nav-title {
    margin: 0;
}

#nav-list {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: auto 0;
}

.nav-link {
    display: block;
    float: left;
    padding: 6px;
}

h3, h4, h5 {
    font-weight: normal;
}

a, a:visited {
    color: #fff;
}

a:hover, a:active {
    color: #b0c4de;
}

button {
    cursor: pointer;
    background-color: #91261e;
    border: 1px outset #aaa;
    border-radius: 2px;
}

button[disabled] {
    cursor: auto;
    color: #444;
    border-color: #444;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#select {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #4f79b0;
    border: 1px outset #37557b;
    padding-bottom: 10px;
    padding-left: 2px;
}

.selector {
    margin-right: 5px;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#main-charts {
    flex: 2 0 500px;
}

#ratings {
    flex: 1 0 300px;
}

.flex-row .flex-column:before, .flex-row .flex-column:after {
    display: flex;
    flex-wrap: wrap;
}

#year-bar-chart {
    overflow: auto;
}

#year-bar-chart .axis text {
    font-size: 8px;
    color: #fff;
}

.dc-chart .axis {
    fill: #fff;
}

.num-display {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #91261e;
    border: 1px outset black;
    margin-top: 15px;
    padding: 3px;
}

.num-display .number-display {
    font-size: 20px;
    font-weight: bold;
}

.ordering {
    text-decoration: underline;
    cursor: pointer;
}

.ordering:hover {
    color: #b0c4de;
}

.dc-table-column._1, .dc-table-column._2, .dc-table-column._3 {
    text-align: center;
}

g.row rect[width="0"]+text {
    display: none;
}

/* hide chart designed only for small-screen devices */
.small-screen {
    display: none;
}

/* change the displayed chart for small-screen devices */
@media (max-width: 800px) {
    .small-screen {
        display: flex;
    }

    .large-screen {
        display: none;
    }

    #select {
        justify-content: flex-start;        
    }
}

@media (max-width: 500px) {
    #nav-title {
        font-size: 16px;
    }

    #nav-list {
        font-size: 12px;
    }
}
