body {
    padding-top: 50px;
    padding-bottom: 30px;
}

body, button { /* need to override default browser button styling */
    background-color: #22344b;
    color: #fff;
    font-family: 'Overpass', sans-serif;
}

#loader {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    color: #000;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#spinner {
    border: 40px solid #22344b;
    border-top: 40px solid #91261e;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden#loader {
    display: none;
}

.intro_button {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

nav {
    background-color: #91261e;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 2px;
    border: 1px outset black;
    font-family: 'Bree Serif', serif;
}

#nav-title, #nav-list {
    display: inline-block;
}

#nav-title {
    margin: 0;
}

#nav-list {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: auto 2px auto 0;
}

.nav-link {
    display: block;
    float: left;
    padding: 6px;
}

h3, h4, h5 {
    font-weight: normal;
}

a, a:visited {
    color: #fff;
}

a:hover, a:active {
    color: #b0c4de;
}

button {
    cursor: pointer;
    background-color: #91261e;
    border: 1px outset #aaa;
    border-radius: 2px;
}

button[disabled] {
    cursor: auto;
    color: #444;
    border-color: #444;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

#select {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #4f79b0;
    border: 1px outset #37557b;
    padding-bottom: 10px;
    padding-left: 2px;
}

.selector {
    margin-right: 5px;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* the flex-basis values below (and flex-shrink of 0) are needed to force these 2 columns to appear
on separate lines on mobie Safari, where the screen is narrow than 800px. Otherwise Safari tries to
display them side-by-side, and cuts off the left-hand portion of the charts.*/

#main-charts {
    flex: 2 0 500px;
}

#ratings {
    flex: 1 0 300px;
}

/* more adjustments to fix flex-wrap on safari */
.flex-row .flex-column:before, .flex-row .flex-column:after {
    display: flex;
    flex-wrap: wrap;
}

/* need to shrink this text to stop it overlapping with that for the neighbouring bar */
#year-bar-chart .axis text {
    font-size: 8px;
    color: #fff;
}

.dc-chart .axis {
    fill: #fff;
}

.num-display {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #91261e;
    border: 1px outset black;
    margin-top: 15px;
    padding: 3px;
}

.num-display .number-display {
    font-size: 20px;
    font-weight: bold;
}

/* make table column headings behave like links - to make clearer to the user that they are clickable */
.ordering {
    text-decoration: underline;
    cursor: pointer;
}

.ordering:hover {
    color: #b0c4de;
}

.dc-table-column._1, .dc-table-column._2, .dc-table-column._3 {
    text-align: center;
}

/* complicated selector used to hide the text for rows with no entries */
g.row rect[width="0"]+text {
    display: none;
}

/* hide chart designed only for small-screen devices */
.small-screen {
    display: none;
}

/* change the displayed chart for small-screen devices */
@media (max-width: 800px) {
    .small-screen {
        display: flex;
    }

    .large-screen {
        display: none;
    }

    /* make sure the select menus line up nicely when they are wrapped on small screens */
    #select {
        justify-content: flex-start;        
    }
}

/* shrink navbar text on very small screens, in order to stop the text extending to 2 lines
(if it does is messes up the display) */
@media (max-width: 500px) {
    #nav-title {
        font-size: 16px;
    }

    #nav-list {
        font-size: 12px;
    }
}
