<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BGG Data Dashboard</title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    </head>
    <body>
        <!-- select by "type" (strategy game, wargame, family game etc.) -->
        <div id="type-select"></div>
        <!-- select by player count -->
        <div id="player-count-select"></div>
        <!-- select by playtime -->
        <div id="playtime-select"></div>
        <!-- bar graph for year published  -->
        <div id="year-bar-chart"></div>
        <!-- row chart for mechanics -->
        <div id="mechanics-row-chart"></div>
        <!-- row chart for designers -->
        <div id="designers-row-chart"></div>
        <!-- row chart for publishers -->
        <div id="publishers-row-chart"></div>
        <!-- pie chart for average rating -->
        <div id="avg-rating-pie-chart"></div>
        <!-- display number of games selected -->
        <div id="num-games-ND"></div>
        <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
        <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
    </body>
</html>