<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BGG Data Dashboard</title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html; charset=UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://use.fontawesome.com/1b6b7e1211.js"></script>
        <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
        <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    </head>
    <body>
        <div class="flex-row" id="select" onclick="first()">
            <!-- select by "type" (strategy game, wargame, family game etc.) -->
            <div>
                <h5>Select game type:</h5>
                <div id="type-select"></div>
            </div>
            <!-- select by player count -->
            <div>
                <h5>Select number of players supported:</h5>
                <div id="player-count-select"></div>
            </div>
            <!-- select by playtime -->
            <div>
                <h5>Select possible playtime (minutes):</h5>
                <div id="playtime-select"></div>
            </div>
            <!-- select minimum number of ratings in games seen -->
            <div>
                <h5>Select minimum number of ratings:</h5>
                <div id="min-ratings-select"></div>
            </div>
        </div>
        <div class="flex-row">
            <!-- display number of games selected -->
            <div class="num-display">
                <h5># of games in current selection:</h5>
                <div id="num-games-ND"></div>
            </div>
            <!-- display average rating (an average of averages!) -->
            <div class="num-display">
                <h5>Average rating of selected games:</h5>
                <div id="avg-rating-ND"></div>
            </div>
            <!-- display average number of ratings -->
            <div class="num-display">
                <h5>Average number of ratings for selected games:</h5>
                <div id="avg-num-ratings-ND"></div>
            </div>
        </div>
        <div class="flex-row">
            <div id="main-charts" class="flex-row"  onclick="first()">
                <!-- bar graph for year published  -->
                <div class="flex-column chart-box">
                    <h4>Year published/released:</h4>
                    <div id="year-bar-chart"></div>
                </div>
                 <div class="flex-row">
                    <!-- row chart for mechanics -->
                    <div class="flex-column chart-box">
                        <h4>Most common mechanics used:</h4>
                        <div id="mechanics-row-chart"></div>
                        <button class="reset" onclick="clearMechanics()">Reset mechanics selection</button>
                    </div>
                    <!-- row chart for categories -->
                    <div class="flex-column chart-box">
                        <h4>Most common game categories:</h4>
                        <div id="categories-row-chart"></div>
                        <button class="reset" onclick="clearCategories()">Reset categories selection</button>
                    </div>
                    <!-- row chart for designers -->
                    <div class="flex-column chart-box">
                        <h4>Most common designers:</h4>
                        <div id="designers-row-chart"></div>
                        <button class="reset" onclick="clearDesigners()">Reset designers selection</button>
                    </div>
                    <!-- row chart for publishers -->
                    <div class="flex-column chart-box">
                        <h4>Most common publishers:</h4>
                        <div id="publishers-row-chart"></div>
                        <button class="reset" onclick="clearPublishers()">Reset publishers selection</button>
                    </div>
                </div>
            </div>
            <!-- data table of top-rated games among the selection -->
            <div class="flex-column" id="ratings">
                <!-- pie chart for average rating -->
                <div class="flex-column chart-box" onclick="first()">
                    <h4>Breakdown of average ratings:</h4>
                    <div id="avg-rating-pie-chart"></div>
                </div>
                <h4>List of games in current selection:</h4>
                <table id="table"></table>
                <div id="paging">
                    Showing <span id="begin"></span>-<span id="end"></span> of <span id="size"></span>
                    <button id="first" onclick="first()" aria-label="first">
                        <span class="fa fa-lg fa-angle-double-left"></span>
                    </button>
                    <button id="prev" onclick="prev()" aria-label="previous">
                        <span class="fa fa-lg fa-angle-left"></span>
                    </button>
                    <button id="next" onclick="next()" aria-label="next">
                        <span class="fa fa-lg fa-angle-right"></span>
                    </button>
                    <button id="last" onclick="last()" aria-label="last">
                        <span class="fa fa-lg fa-angle-double-right"></span>
                    </button>
                </div>
            </div>
        </div>
        <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
        <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
        <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
    </body>
</html>